{% extends "main/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}


<style>
.main-head {
  font-size: 35px;
  font-weight: 400;
  margin: 40px auto 10px auto;
  /* color: #fff; */
  text-align: center;
}

.main-subhead {
  font-size: 18px;
  font-weight: 400;
  color: #777;
  text-align: center;
  margin-top: 0;
}
.container-main {
    /* background-color: #555;*/
}
</style>

<h1 class="main-head">Baiol</h1>
<h2 class="main-subhead">El mejor sitio para comprar</h2>
<br />

<p class="text-center"><a class="btn btn-lg btn-success" href="{% url 'accounts:register' %}">{% trans 'Sign up today' %}</a></p>
<br />

<div class="row">
    <div class="col-md-3">
        {% if departments %}
        
        <ul class="nav nav-stacked">
            <li class="btn btn-default">Departments</li>
            {% for department in departments %}
                <li><a class="btn btn-white" href="#">{{ department.name }}</a></li>
            {% endfor%}
        </ul>
        {% endif %}
        
        {% if stores %}
        
        <ul class="nav nav-stacked">
            <li class="btn btn-default">Stores</li>
            {% for store in stores %}
                <li><a class="btn btn-white" href="{% url 'main:store' store.id %}">{{ store.name }}</a></li>
            {% endfor%}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-9">
        {% if products %}
        {% for product in products %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL}}{{ product.product.avatar }}" alt="..." style="min-height:150px;height:150px;">
                    <div class="caption">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.product.description }}</p>
                        <p><a href="#" class="btn btn-primary" role="button">Check</a> <a href="#" class="btn btn-default" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<hr style="margin:0;margin-top: 25px;"/>



{% endblock %}